@import url('./normalize.css');
@import url('./skeleton.css');
@import url('./font/font.css');

html {
  font: 16px/1.5 'DINPro', sans-serif;
  background: #FFFFFF;
}

body {
  font-size: 100%;
  margin: 0 auto;
  padding: 0;
  min-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, strong, em, pre {
  transition: font-size 0.1 ease-in;
}

h1, h2, h3, h6 {
  font-family: 'Archer Light', serif;
}

h1 {
 font-size: 9rem;
 color: #FFFFFF;
 letter-spacing: 1.82px;
}

h2 {
  font-size: 4.5rem;
  text-align: center;
  color: #4A4A4A;
  letter-spacing: 0.91px;
}

h3 {
  font-size: 3rem;
}

h4, h5 {
  font-family: 'Archer Bold', serif;
}

h4 {
  font-size: 1.5rem;
  color: #3359df;
  letter-spacing: 1.37px;
}

h5 {
  font-szie: 1.25rem;
  color: #4A4A4A;
  letter-spacing: 0.91px;
}

dd {
  margin: 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(-21% -10%, #0A21A8 0%, #7C0AED 100%, #C86DD7 100%);
  background-image: linear-gradient(-45deg, #0A21A8 0%, #7C0AED 100%, #C86DD7 100%);
}

.date {
  color: #FFFFFF;
  letter-spacing: 1.37px;
  font-weight: 100;
}

.container {
  max-width: 800px;
}

dt p {
  text-align: left;
}

.header {
  margin-top: 6rem;
  text-align: center;
}

.venue {
  text-align: center;
}

.image-container {
  width: 7.75rem;
  height: 7.75rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in;
}

.image-container:hover {
  box-shadown: 0 2px 2px 2px #f8f8f8;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.image-container.rounded {
  border-radius: 100%;
}

.section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;
}

.schedule, .faqs {
  background-color: #F1F9FF;
}

.box {
  display: flex;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.10);
  border-radius: 4px;
  min-height: 16.5rem;
  margin: 1em auto;
  transition: box-shadow 0.3s ease-in;
}

.box:hover {
  box-shadow: 0 2px 2px 2px #f8f8f8;
}

.box > .image {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  padding: 0 10px;
  border-right: 1px solid rgba(0,0,0,0.10);
}

.box .image img {
  width: 2.69rem;
  height: auto;
}

.box .content {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.box .content .title {
  font-size: 1.25em;
  color: #4A4A4A;
  letter-spacing: 0.91px;
  margin: 0;
}

.box .content .description {
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0.73px;
}

.box .content .link {
  border: 1px solid #3359DF;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #3359df;
  transition: all 0.2s ease-in;
}

.box .content .link:hover {
  background: #3359df;
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 75px;
}

footer > p {
  margin: 0;
  padding: 1em;
}

canvas {
  display: block;
  vertical-align: bottom;
  position: absolute;
}

#particles {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(-21% -10%, #0A21A8 0%, #7C0AED 100%, #C86DD7 100%);
  background-image: linear-gradient(-45deg, #0A21A8 0%, #7C0AED 100%, #C86DD7 100%);

}

.svg {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1em;
}

.svg.small {
  width: 3rem;
}


.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* mobile devices */
@media (max-width: 550px) {
  h1 {
    font-size: 4.5rem;
  }
}

/* Larger than phone */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

